<h2>Hi <%= @user.username%>, here's your list of restaurants that you want to try!</h2>

<% @user.restaurants.each do |restaurant| %>
  <% unless restaurant.name == nil || restaurant.cuisine == nil || restaurant.neighborhood == nil %>
   <li><%= restaurant.name %>: serving <%=restaurant.cuisine.name%> food in <%=restaurant.neighborhood.name%>
     <form action="/restaurants/<%=restaurant.id%>" method="post">
       <input type="hidden" id="hidden" value="delete" name="_method">
       <input type="submit" value="Delete" id="delete">
     </form>
     <form action="/restaurants/<%=restaurant.id%>/edit" method="post">
       <input type="submit" value="Edit" id="edit">
     </form>

   </li><br>
   <% end %>
<% end %>

<br>
<form action="/restaurants/new" method="post">
<input type="submit" value="New Restaurant" id="submit">
</form>
<br>
<form action="/restaurants" method="get">
  <input type="submit" value="Main Menu" id="menu">
</form>
